body {
  margin: 0;
  padding: 0px;
  font-family: Nanum Myeongjo;
}

.li .welcome-container {
  height: 120px;
  display: flex;
  top: 0;
  background-color: aqua;
}

.home-image {
  width: 100%;
  height: 200px;
  object-fit: fill;
  filter: opacity(0.5);
  filter: blur(0.2);
  <feConvolveMatrix 
        order="3"
        preserveAlpha="true" 
        kernelMatrix="
		  -1 -1 -1
		  -1  8 -1
		  -1 -1 -1"
		divisor="1.0"
		bias="0.0"   
		  />
}

.footer-container {
  background-color: #f2d5e5;
  text-align: center;
  width: 100%;
  height: 60px;
  bottom: 0;
}
