body {
  margin: 0;
  padding: 0;
  font-family: Nanum Myeongjo;
}

/*/////////////////// HEADER ///////////////////*/

.header-container {
  background-color: #d9bacb;
  align-items: center;
  top: 0;
  height: 60px;
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.header-name {
  color: #594c53;
  font-size: 40px;
  margin-left: 7%;
  padding-left: 2rem;
}

.main-link-container {
  background-color: #b8d3d9;
  margin-right: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
  gap: 2rem;
}

.main-link {
  cursor: pointer;
}
/*/////////////////// CONTENT ///////////////////*/

.content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.title-container-right {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.content {
  width: 50%;
}

.title {
  font-size: 30px;
  margin-top: 2rem;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}

.date {
  color: #f2e0c9;
  padding-left: 2rem;
  padding-bottom: 1rem;
}
.text {
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  text-align: justify;
  text-justify: inter-word;
}

/*/////////////////// IMAGES ///////////////////*/

.content-image-container {
  width: auto;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.content-image {
  width: 80%;
  object-fit: fill;
  margin-top: 1rem;
}

.content-image-broad {
  width: 100%;
  max-width: 950px;
  max-height: 900px;
  object-fit: fill;
  margin-top: 1rem;
}

/*/////////////////// MOBILE ///////////////////*/

@media only screen and (max-width: 768px) {
  .header-name {
    color: #594c53;
    font-size: 35px;
    margin-left: 5%;
    padding-left: 1rem;
  }

  .main-link-container {
    background-color: #b8d3d9;
    margin-right: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
    gap: 2rem;
  }

  .main-link {
    display: none;
  }

  .content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-direction: column;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title-container-right {
    display: none;
  }

  .title {
    font-size: 25px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .content {
    width: 100%;
  }

  .text {
    width: 90%;
    margin-bottom: 2rem;
    margin-left: 0;
    margin-top: 0.5rem;
    text-align: justify;
    text-justify: inter-word;
  }
  .content-image-container {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .content-image {
    width: 100%;
    object-fit: fill;
    margin-top: 1rem;
  }
}

/*/////////////////// FOOTER ///////////////////*/

.footer-container {
  background-color: #f2d5e5;
  text-align: center;
  width: 100%;
  height: 60px;
  bottom: 0;
}
